@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Mono:wght@500&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.info {
  padding: 0 1.8rem;
}

.info p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  text-align: center;
}
